@media screen and (max-width: 768px) {
  .banner-page {
    height: 160vh;
    .banner {
      padding: 10px;
      .banner-content {
        gap: 3px;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas:
          "news1"
          "news2"
          "news3"
          ;

        .news1 {
          .news1-box {
            width: 100%;
            height: 60vh;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.4);
            color: #f0f0f0;
            .title {
              padding-top: 7em;
              background: rgba(0, 0, 0, 0.5);
              h2 {
                margin-top: 10px;
                width: 70%;
                font-size: 25px;
                letter-spacing: 1px;
                font-weight: 700;
                font-family: "Helvetica", sans-serif;
              }
              p {
                margin-top: 10px;
                width: 90%;
                font-size: 12px;
                letter-spacing: 1px;
              }
              button {
                padding: 8px 15px;
                border: none;
                outline: none;
                cursor: pointer;
                font-weight: 800;
                font-size: 12px;
                letter-spacing: 1px;
                border: 1px solid #000;
                transition: all 0.3s ease-in-out;

                &:hover {
                  letter-spacing: 2px;
                  background: var(--bg-darker);
                  color: #fff;
                  border: 1px solid #fff;
                }
              }
            }
          }
        }
        .news2 {
          .news2-box {
            height: 50vh;
            .title {
              padding-top: 9em;
              background: rgba(0, 0, 0, 0.5);
              h2 {
                font-size: 25px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
        .news3 {
          .news3-box {
            height: 50vh;
            .title {
              padding-top: 9em;
              h2 {
                font-size: 25px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
