.banner-page {
  position: relative;
  .banner {
    width: 100%;
    height: 550px;
    padding: 30px;
    

    .banner-content {
      height: 500px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "news1 news1 news1 news2 news2"
        "news1 news1 news1 news3 news3";
      gap: 1px;
        // padding: 20px;

      a {
        text-decoration: none;
        color: #f0f0f0;
      }

      .news1 {
        grid-area: news1;
        background: url("../../../../assets/banner/banner2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .news1-box {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          background: rgba(0, 0, 0, 0.4);
          color: #f0f0f0;

          .title {
            width: 100%;
            height: 100%;
            padding-left: 20px;
            padding-top: 10em;
            background: rgba(0, 0, 0, 0.5);

            span {
              background: rgba(0, 100, 0, 0.801);
              letter-spacing: 2px;
              font-size: 12px;
              padding: 5px 10px;
            }
            h2 {
              margin-top: 10px;
              width: 90%;
              font-size: 35px;
              letter-spacing: 1px;
              font-weight: 700;
              font-family: 'SF Pro Display', sans-serif;
            }
            p {
              margin-top: 10px;
              width: 80%;
              font-size: 12px;
              letter-spacing: 1px;
              line-height: 22px;
            }
            button {
              margin-top: 20px;
              padding: 8px 20px;
              border: none;
              outline: none;
              cursor: pointer;
              font-weight: 700;
              font-size: 13px;
              letter-spacing: 1px;
              border: 1px solid #000;
              transition: all 0.3s ease-in-out;

              .icon {
                font-size: 14px;
                margin-left: 10px;
              }

              &:hover {
                letter-spacing: 2px;
                background: rgba(0,0,0,0.5);
                color: #fff;
                border: 1px solid #fff;
              }
            }
          }
        }
      }
      .news2 {
        grid-area: news2;
        background: url("../../../../assets/banner/banner1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .news2-box {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          background: rgba(0, 0, 0, 0.4);
          color: #f0f0f0;

          .title {
            width: 100%;
            height: 100%;
            padding-left: 20px;
            padding-top: 7em;
            background: rgba(0, 0, 0, 0.5);

            span {
              background: rgba(0, 100, 0, 0.801);
              letter-spacing: 2px;
              font-size: 12px;
              padding: 5px 10px;
            }
            h2 {
              margin-top: 10px;
              width: 70%;
              font-size: 18px;
              letter-spacing: 1px;
              font-weight: 700;
              font-family: 'SF Pro Display', sans-serif;
            }
            p {
              margin-top: 10px;
              width: 80%;
              font-size: 12px;
              letter-spacing: 1px;
              font-family: 'SF Pro Display', sans-serif;
            }
            button {
              margin-top: 20px;
              padding: 10px 20px;
              border: none;
              outline: none;
              cursor: pointer;
              font-weight: 700;
              font-size: 13px;
              letter-spacing: 1px;
              border: 1px solid #000;
              transition: all 0.3s ease-in-out;

              &:hover {
                letter-spacing: 2px;
                background: var(--bg-darker);
                color: #fff;
                border: 1px solid #fff;
              }
            }
          }
        }
      }
      .news3 {
        grid-area: news3;
        background: url("../../../../assets/banner/banner3.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .news3-box {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          background: rgba(0, 0, 0, 0.4);
          color: #f0f0f0;

          .title {
            width: 100%;
            height: 100%;
            padding-left: 20px;
            padding-top: 7em;
            background: rgba(0, 0, 0, 0.5);

            span {
              background: rgba(0, 100, 0, 0.801);
              letter-spacing: 2px;
              font-size: 12px;
              padding: 5px 10px;
            }
            h2 {
              margin-top: 10px;
              width: 70%;
              font-size: 18px;
              letter-spacing: 1px;
              font-weight: 700;
              font-family: 'SF Pro Display', sans-serif;
            }
            p {
              margin-top: 10px;
              width: 80%;
              font-size: 12px;
              letter-spacing: 1px;
              font-family: 'SF Pro Display', sans-serif;
            }
            button {
              margin-top: 20px;
              padding: 10px 20px;
              border: none;
              outline: none;
              cursor: pointer;
              font-weight: 700;
              font-size: 13px;
              letter-spacing: 1px;
              border: 1px solid #000;
              transition: all 0.3s ease-in-out;

              &:hover {
                letter-spacing: 2px;
                background: var(--bg-darker);
                color: #fff;
                border: 1px solid #fff;
              }
            }
          }
        }
      }
    }
  }
}
