@media screen and (max-width: 768px) {
    .left-fp {
      display: none;
    }
    .right-fp {
      width: 100%;
    }
    .right-box-fp h4:nth-child(2) {
        display: none;
    }
    .right-box-fp h4:nth-child(3) {
        display: block;
    }
    .fp-footer {
        display: none;
    }
  }
  