@media screen and (max-width: 768px) {
  .category-page {
    height: 300vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "cat1"
    "cat2"
    "cat3"
    "cat4"
    "cat5"
    "cat6"
    "cat7"
    "cat8"
    "cat9"
    "cat10"
    ;
  }
}
