.post-article {
  height: 180vh;

  .post-article-title {
    margin-top: 5em;
    h1 {
      font-size: 25px;
    }
    text-align: center;
    width: 100%;
  }

  .write-article {
    margin-top: 50px;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "sidebar-panel sidebar-panel article-title article-title article-title article-title"
      "sidebar-panel sidebar-panel upload-panel upload-panel article-category article-category"
      "sidebar-panel sidebar-panel description description description description"
      "sidebar-panel sidebar-panel attachment attachment attachment attachment"
      "sidebar-panel sidebar-panel writer-request writer-request writer-request writer-request";
    gap: 30px;

    label {
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 0.5px;
      margin-bottom: 5px;
    }

    .user-sidebar-panel {
      grid-area: sidebar-panel;
    }
    .article-title {
      grid-area: article-title;
      margin-top: 15px;

      input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        padding: 0 10px;
        font-weight: 600;
        font-size: 13px;
        color: #444;
        letter-spacing: 0.5px;
        outline: none;
        border: 1px solid lightgray;
      }
    }
    .upload-panel {
      grid-area: upload-panel;
      width: 100%;

      input {
        border: none;
        border: 1px solid lightgray;
        font-size: 14px;
        margin-top: 33px;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .article-category {
      grid-area: article-category;

      .dropdown {
        cursor: pointer;

        button {
          border-radius: 5px;
          font-size: 12px;
          font-weight: 700;
          background: #444;
          color: #fff;
          outline: none;
          border: none;
          letter-spacing: 1px;
          text-transform: uppercase;
          width: 100%;
          height: 40px;
        }
        .dropdown-menu {
          text-align: center;
          width: 100%;
          font-size: 12px;

          .dropdown-item {
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 14px;
            padding: 5px 0;
            &:hover {
              background: #444;
              color: #fff;
            }
          }
        }
      }
    }
    .description {
      grid-area: description;

      textarea {
        border-radius: 5px;
        width: 100%;
        height: 70px;
        font-size: 14px;
        padding: 5px 10px;
        font-weight: 500;
        letter-spacing: 1px;
        outline: none;
        border: 1px solid lightgray;
      }
    }
    .attachment {
      grid-area: attachment;
      height: 250px;
    }
    .writer-request {
      margin-top: 5em;
      grid-area: writer-request;
      display: flex;
      justify-content: center;

      button {
        width: 100%;
        height: 50px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        border: none;
        background: #e2600a;
        color: #fff;
        outline: none;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        transition: 0.3s ease-in-out;

        &:hover {
          background: #ff7700;
        }
      }
    }
  }
}
