.profile-page {
  width: 100%;
  height: 150vh;

  .user-box1 {
    margin-top: 50px;
    border-radius: 20px;

    h2 {
      font-size: 20px;
      font-family: "SF Pro Display", sans-serif;
      font-weight: 500;
      text-transform: uppercase;
    }
    .user-box1-card {
      margin-top: 20px;
      height: 100%;

      .user-box {
        border: 1px solid lightgray;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-self: center;
        height: 62vh;
        align-items: center;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);

        .user-box1-img {
          width: 100px;
          height: 100px;
          border: 3px solid rgb(11, 113, 209);
          border-radius: 50%;
          padding: 5px;
          img {
            width: 100%;
            border-radius: 50%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .profile-details {
          margin-top: 20px;
          text-align: center;

          h4 {
            font-size: 14px;
            font-family: "SF Pro display", sans-serif;
            color: #777;
            letter-spacing: 0.5px;
          }
          h2 {
            font-size: 30px;
            font-weight: 600;
            color: #444;
            font-family: "SF Pro display", sans-serif;
          }
          p {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            color: #444;
            font-family: "SF Pro display", sans-serif;

            span {
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
          .about-me {
            margin-top: 40px;
            h3 {
              font-size: 20px;
              color: #333;
              font-weight: 700;
              text-transform: uppercase;
            }
            p {
              margin: auto;
              width: 100%;
              color: #444;
              text-transform: capitalize;
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }
      .author-panel {
        display: flex;
        margin-top: -30px;
        width: 100%;
        justify-content: center;

        .panel-card {
          width: 80px;
          height: 70px;
          text-align: center;
          background: var(--bg-dark);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
          color: #fff;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:nth-child(1) {
            border-radius: 15px 0 0 15px;
          }
          &:nth-child(3) {
            border-radius: 0 15px 15px 0;
          }

          &:hover {
            background: var(--bg-darker);
          }

          p {
            font-size: 18px;
            margin: 8px 0;
            padding: 0;
            font-weight: 700;
            font-family: "SF Pro Display", sans-serif;

            &:nth-child(2) {
              padding: 0;
              font-weight: 400;
              font-size: 12px;
            }
          }
        }
      }

      .user-profile-panel {
        margin-top: 50px;

        .user-profile-panel-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 15px;
          cursor: pointer;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          font-family: "SF Pro Display", sans-serif;
          transition: .3s ease-in-out;

          &:hover {
            background: var(--bg-dark);
            color: #fff;
          }

          .user-profile-panel-icon {
            font-size: 18px;
            margin: 3px 0;
          }
        }
        .user-profile-panel-list.active {
          background: var(--bg-dark);
          color: #fff;
        }
      }
    }
  }

  .user-box2 {
    margin-top: 85px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    border: 1px solid lightgray;
    padding: 30px;

    .set-profile {
      width: 100%;
      .set-profile-img {
        display: flex;
        justify-content: center;
        img {
          width: 150px;
          height: 150px;
          padding: 5px;
          border-radius: 50%;
          object-fit: cover;
          border: 3px solid rgb(11, 113, 209);
        }
      }
      .set-profile-file {
        display: flex;
        justify-content: center;

        .set-profile-icon {
          margin-top: -1em;
          margin-left: 3em;
          font-size: 38px;
          color: #fff;
          padding: 8px;
          border-radius: 50%;
          background: rgb(11, 113, 209);
        }

        input {
          position: absolute;
          margin-top: -2em;
          margin-left: 20em;
          opacity: 0;
        }
      }
      .form-profile {
        margin-top: 50px;
        width: 100%;

        form {
          display: flex;
          .set-form-profile {
            width: 100%;
            label {
              font-size: 14px;
              font-weight: 600;
              margin: 20px 0 10px 0;
              font-family: "SF Pro Display", sans-serif;
            }
            input {
              border: 1px solid lightgray;
              width: 90%;
              height: 40px;
              font-size: 14px;
              outline: none;
              padding: 0 10px;
              color: #444;
            }
            textarea {
              width: 90%;
              padding: 10px;
              outline: none;
              border: 1px solid lightgray;
              height: 100px;
            }
            .profile-button {
              margin-top: 50px;
              width: 90%;
              display: flex;
              flex-direction: column;

              a {
                width: 100%;
                margin-bottom: 4em;

                button {
                  height: 55px;
                  font-size: 14px;
                  font-weight: 600;
                  border: none;
                  outline: none;
                  transition: 0.3s ease-in-out;
                  color: #fff;
                  background: var(--bg-dark);
                  font-family: "SF Pro Display", sans-serif;

                  &:hover {
                    background: var(--bg-darker);
                  }
                }
              }

              button {
                width: 100%;
                height: 55px;
                font-size: 14px;
                font-weight: 600;
                border: none;
                outline: none;
                transition: 0.3s ease-in-out;
                color: #fff;
                font-family: "SF Pro Display", sans-serif;
                background: var(--bg-dark);

                &:hover {
                  background: var(--bg-darker);
                }

                &:nth-child(5) {
                  background: #ff8215;

                  &:hover {
                    background: #c4620d;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
