.profile-page {
  width: 100%;
  height: 170vh;

  .user-box2 {
    margin-top: 95px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    border: 1px solid lightgray;
    padding: 30px;
    box-shadow: 3px 5px 15px 0px rgba(130,126,126,0.75);
    

    .set-profile {
      width: 100%;
      .set-profile-img {
        display: flex;
        justify-content: center;
        img {
          width: 150px;
          height: 150px;
          padding: 5px;
          border-radius: 50%;
          object-fit: cover;
          border: 3px solid rgb(11, 113, 209);
        }
      }
      .set-profile-file {
        display: flex;
        justify-content: center;

        .set-profile-icon {
          margin-top: -1em;
          margin-left: 3em;
          font-size: 38px;
          color: #fff;
          padding: 8px;
          border-radius: 50%;
          background: rgb(11, 113, 209);
        }

        input {
          position: absolute;
          margin-top: -2em;
          margin-left: 20em;
          opacity: 0;
        }
      }
      .form-profile {
        margin-top: 50px;
        width: 100%;

        form {
          display: flex;
          
          .set-form-profile {
            width: 100%;
            label {
              font-size: 14px;
              font-weight: 600;
              margin: 20px 0 10px 0;
              font-family: "SF Pro Display", sans-serif;
            }
            input {
              border: 1px solid lightgray;
              width: 90%;
              height: 40px;
              font-weight: 500;
              letter-spacing: 0.5px;
              font-size: 14px;
              outline: none;
              padding: 0 10px;
              color: #444;
            }
            textarea {
              width: 90%;
              padding: 10px;
              outline: none;
              border: 1px solid lightgray;
              height: 100px;
              font-weight: 500;
              letter-spacing: 0.5px;
              color: #444;
            }
            .remove-border {
              height: 30px;
              font-size: 15px;
            }
            .profile-button {
              margin-top: 50px;
              width: 90%;
              display: flex;
              flex-direction: column;

              a {
                width: 100%;
                margin-bottom: 4em;

                button {
                  height: 55px;
                  font-size: 14px;
                  font-weight: 600;
                  border: none;
                  outline: none;
                  transition: 0.3s ease-in-out;
                  color: #fff;
                  background: var(--bg-dark);
                  font-family: "SF Pro Display", sans-serif;

                  &:hover {
                    background: var(--bg-darker);
                  }
                }
              }

              button {
                width: 100%;
                height: 55px;
                font-size: 14px;
                font-weight: 600;
                border: none;
                outline: none;
                transition: 0.3s ease-in-out;
                color: #fff;
                font-family: "SF Pro Display", sans-serif;
                background: var(--bg-dark);

                &:hover {
                  background: var(--bg-darker);
                }

                &:nth-child(4) {
                  background: #ff8215;

                  &:hover {
                    background: #c4620d;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
