@media screen and (max-width: 768px) {
    .left-rp {
      display: none;
    }
    .right-rp {
      width: 100%;
    }
    .right-box-rp {
      width: 100%;
    }
    .right-box-rp h4:nth-child(2) {
        display: none;
    }
    .right-box-rp h4:nth-child(3) {
        display: block;
    }
  }
  