.navbar {
  h2 {
    color: var(--bg-darker);
    font-weight: 900;

    span {
      color: #c86208;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;

    .nav-links {
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 700;
      padding: 20px 30px;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }
    .nav-links.active {
      color: #000;
    }
    p {
      display: none;
    }

    .button {
      margin-left: 6em;
      
      a {
        text-decoration: none;
        
        button {
          padding: 10px 40px;
          letter-spacing: 2px;
          color: #000;
          border: none;
          outline: none;
          font-weight: 700;
          font-size: 14px;
          border-radius: 5px;
          background: #fff;
          transition: all 0.3s ease-in-out;
          border: none;

          &:hover {
            background: #000;
            color: #fff;
          }

        }
      }
    }
  }
  .nav-icon {
    font-size: 25px;
    display: none;
  }
}
