.navbar {
  h2 {
    color: var(--bg-darker);
    font-weight: 900;

    span {
      color: #c86208
      ;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;

    .nav-links {
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 700;
      padding: 20px 30px;
      color: rgba(0,0,0,0.6);
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }
    .nav-links.active {
      color: #000;
    }
    p {
      display: none;
    }

    .button {
      margin-left: 6em;
      button {
        padding: 10px 40px;
        letter-spacing: 2px;
        background: var(--bg-darker);
        color: #fff;
        border: none;
        outline: none;
        font-weight: 700;
        font-size: 14px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        border: 1px solid #000;

        &:hover {
            background: #fff;
            color: #000;
        }

        &:nth-child(1) {
          background: none;
          margin-right: 5px;
          border: none;
          color: var(--bg-darker);

        }
      }
    }
  }
  .nav-icon {
    font-size: 25px;
    display: none;
  }
}
