@media screen and (max-width: 768px) {
  footer {
    height: 100%;
    .main-footer {
      display: flex;
      flex-direction: column;
    }
    .footer-copyright {
        padding-bottom: 30px;
        font-size: 12px;
        color: lightgray;
    }
  }
}
