footer {
  background: var(--bg-darker);
  width: 100%;
  position: relative;
  height: 400px;

  .main-footer {
    display: flex;
    .footer-content {
      color: #f0f0f0;
      margin: 30px 10px;
      
      a {
        text-decoration: none;
        color: #fff;

        &:hover {
          color: #ff8215;
        }
      }

      hr {
        height: 0;
        width: 85%;
        border-bottom: 0.5px solid rgba(0,0,0,0.5);
      }
      h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;

        span {
          color: #f17c15;
        }
      }
      p {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        letter-spacing: 1px;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          padding: 10px 0;
        }
      }
    }
  }

  .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(155, 155, 155);
    text-align: center;
  }
}
