@media screen and (max-width: 768px) {
  .pagenotfound {
    .pagenotfound-info {
      h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
}
