* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
  /* background: var(--bg-darker);
  color: #fff; */
}

:root {
  --primary: #2A2438;
  --secondary: #352F44;
  --tertiary: #5C5470;
  --quartiary: #DBD8E3;
  --bg-darker: #191919;
  --bg-dark: #323232;
}