.news-page {
  height: 100vh;
  h1 {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: "Playfair Display", serif;
  }
  h2 {
    margin-top: 5em;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .recommended {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .r-box {
      margin-top: 50px;

      .img-box {
        display: flex;

        p {
          margin: auto 10px;
          font-weight: 700;
          font-size: 15px;
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
      .news-detail {
        margin-top: 10px;
        width: 90%;

        h4 {
          font-size: 17px;
          font-weight: bold;
          color: #000;
        }
        p {
          font-size: 14px;
          color: #666;
        }
        .icon-list {
          display: flex;
          align-items: center;
          align-self: center;
          width: 100%;;
          background: yellow;

          .icon {
            font-size: 25px;
          }

          span {
            font-size: 14px;
            font-weight: 700;
            padding-left: 10px;
            margin-right: 20px;

            &:nth-child(3) {
              padding: 10px;
            }

            .icon2 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
