.news-page {
  position: relative;
  width: 100%;
  margin-top: 40px;
  height: 85vh;
  h1 {
    font-size: 55px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: "Playfair Display", serif;
  }
  .title-tag {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #666;
    width: 80%;
    letter-spacing: 0.5px;
    font-size: 18px;
  }
  h2 {
    margin-top: 5em;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      border-bottom: 3px solid #c86208;
      width: 15%;
      padding-bottom: 15px;
    }

    span {
      color: #c86208;
    }
  }

  .recommended {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .r-box {
      margin-top: 40px;

      .img-box {
        display: flex;

        .info {
          width: 100%;
          justify-content: space-between;
          a {
            text-decoration: none;
            margin: 5px 10px;
            p {
              font-weight: 700;
              font-family: "Poppins", sans-serif;
              font-size: 14px;
            }
          }
          p {
            font-weight: 500;
            font-size: 13px;
            color: #666;
          }
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
      hr {
        margin: auto;
      }
      .news-detail {
        margin-top: 10px;
        width: 100%;

        a {
          text-decoration: none;
        }

        h4 {
          font-size: 17px;
          font-weight: bold;
          color: #000;

          &:hover {
            color: #c86208;
          }
        }
        p {
          font-size: 14px;
          color: #666;
          width: 80%;
        }
        .icon-list {
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          width: 100%;

          .icon {
            font-size: 20px;
            cursor: pointer;
          }

          span {
            font-size: 12px;
            font-weight: 700;
            margin: auto;
            padding-right: 6em;
            color: #222;
          }
        }
      }
    }
  }
}
